body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: roboto, arial, sans-serif;
  background: url(../images/716428.png) no-repeat;
  background-size: cover;
}

#mostVisited {
  background: rgba(0, 0, 0, 0.69);
  position: fixed;
  padding: 10px 50px;
  border-radius: 3px;
}

#mostVisited .item {
  
}
#mostVisited .item img {
  
}